---
layout: default
title: Stanley L.Y. Li
---

<div id="contents">

  {% assign first_post = site.posts.first %}

  <h1><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
  <span class="post-topics">{{ first_post.tags | sort | join: " "}}</span>
  <span class="blurb">{{ first_post.date | date: "%d %B %Y" }}</span>

  {{ first_post.content }}

	{% for post in site.posts offset: 1 %}
      <div id="separator"></div>

      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <span class="post-topics">{{ post.tags | sort | join: " "}}</span>
      <span class="blurb">{{ post.date | date: "%d %B %Y" }}</span>

      {{ post.content }}

  {% endfor %}

</div>
